recursive-include pretix_fsr_validation/static *
recursive-include pretix_fsr_validation/templates *
recursive-include pretix_fsr_validation/locale *
include LICENSE
include requirements.txt
exclude .gitlab-ci.yml

recursive-include pretix_fsr_wallet *.gitkeep
recursive-include pretix_fsr_wallet *.html
recursive-include pretix_fsr_wallet *.po
  recursive-include pretix_fsr_wallet *.pot